html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;

}

h1{
    font-size: 3em;
    margin: 0;
    padding: 10px;
}

h2{
  margin: 20px;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
    display: flex;
    gap: 25px;
    flex-grow: 1;
    flex-basis: 0;
    background: #e9eaec;
    border-radius: 20px;
    margin-top: 25px;
    padding: 25px;
    
}

.author {
  padding: 15px;
}

time{
  padding: 10px;
}

.sticky {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    border-bottom: 1px dotted #ccc;
}

a[href$=".html" i] {
  font-style: italic;
}

.img-container {
    position: static;
    background: #424242;
    border-radius: 20px;
    float: none;
    color: #ccc;
    margin-top: 20px;
}

table{
    background: #424242;
    border-radius: 20px;
    padding: 10px;
    color: #ccc;
    border-spacing: 25px 0;
    float: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }


.photo1 {
    background: no-repeat bottom / cover url('Images/image.png');
    height: 250px;
    border-radius: 20px;
}

.photo2 {
    background: no-repeat bottom / cover url('Images/IMG_20240208_194210.jpg');
    height: 1200px;
    border-radius: 20px;
}